<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="scripts/socket.io.min.js"></script>
    <script type="text/javascript" src="scripts/materialize.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        //Setup Materialize
        $(".button-collapse").sideNav({
          menuWidth: 200,
          closeOnClick: true,
          draggable: true,
        });
        $(".button-collapse").sideNav("show");

        //Menu Setup
        var usrlist = {{usrlist|safe}}
        for (var usr in usrlist) {
          if (usrlist[usr] != "{{username}}") {
            $("#slide-out").append("<li><a href='#' class='black-text sidemenuopt'>"+usrlist[usr]+"</a></li>");
          };
        };
        $("#slide-out").append("<nav id='navbottom' class='white center'><div class='nav-wrapper container'><div class='row'><a href='{{url_for("logoff")}}' class='btn right offset-s10 z-depth-1 blue darken-1 waves-effect waves-light'>Logoff</a></div></div></nav>");

        //Setup Socket.IO
        namespace = "/msgs";
        var socket = io.connect(location.protocol+"//"+document.domain+":"+location.port+namespace);

        //Posting
        socket.on("chat_clear", function(usernames, msgs){
          $("#chatlog").empty();
        });
        socket.on("msgpost", function(msg){
          if (msg.data != "") {
            if (msg.username == "{{username}}") {
              $("#chatlog").append("<div id='chatp' class='card-content col s8 offset-s4 white z-depth-2'><span style='color: gray'>"+msg.username+":</span> "+msg.data+"</div>");
              $("#chatout").val("");
            } else {
              $("#chatlog").append("<div id='chatp' class='card-content col s8 white z-depth-2'><span style='color: gray'>"+msg.username+":</span> "+msg.data+"</div>");
            };
            $("#chatlog").scrollTop($("#chatlog").get(0).scrollHeight);
          };
        });

        //Forms
        $(".sidemenuopt").click(function(e) {
          socket.emit("init_chat", {data: $(e.target).text()});
        });

        $("#sending").submit(function() {
          socket.emit("msgevent", {data: $("#chatout").val()});
          return false;
        });
      });
    </script>
    <link href="styles/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <ul id="slide-out" class="side-nav">
    <li><span class="btn blue darken-1">Conversations</span></li>
  </ul>
  <div class="navbar-fixed">
    <nav id="navtop" class="white"><div class="nav-wrapper container"><div class="row">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large blue-text"><i class="material-icons">menu</i></a>
      <div class="grey-text right"><span id="headcont">CHIT</span></div>
    </div></div></nav>
  </div>
  <div class="container" align="center">
    <div id="mainrow" class="row">
      <div id="chatcont" class="z-depth-1 grey lighten-4">
        <div id="chatlog" class="row"></div>
      </div>
      <div id="formcont" class="white">
        <form id="sending" class="card-content row" align="center" method="POST" action="#">
          <br/>
          <textarea id="chatout" class="materialize-textarea"></textarea>
          <button id="sendbtn" class="btn z-depth-1 blue darken-1 waves-effect waves-light" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
