<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="scripts/socket.io.min.js"></script>
    <script type="text/javascript" src="scripts/materialize.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <link href="styles/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <ul id="slide-out" class="side-nav">
    <li><span class="btn blue darken-1">Conversations</span></li>
  </ul>
  <div class="navbar-fixed">
    <nav id="navtop" class="white"><div class="nav-wrapper container"><div class="row">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large blue-text"><i class="material-icons">menu</i></a>
      <div class="grey-text right"><span id="headcont">CHIT</span></div>
    </div></div></nav>
  </div>
  <div class="container" align="center">
    <div id="mainrow" class="row">
      <div id="chatcont" class="z-depth-1 grey lighten-4">
        <div id="chatlog" class="row"></div>
      </div>
      <div id="formcont" class="white">
        <form id="sending" class="card-content row" align="center" method="POST" action="#">
          <br/>
          <textarea id="chatout" class="materialize-textarea"></textarea>
          <button id="sendbtn" class="btn z-depth-1 blue darken-1 waves-effect waves-light" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
